      <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Women in STEM</title>
</head>

<body>
  <div class="wrapper">
      <header>
        <h1>
            <a href="/">Women in STEM Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
                  <a href="/dashboard">dashboard</a>
                  {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>