      <h1>
        <a href="/">Women in Stem Tech Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>